<div class="items">
<div class="card mx-5 my-3" style="width: 18rem;">
    <img class="card-img-top" src="../../../assets/images/angular.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title btn btn-info">Angular</h5>
      <p class="card-text">enroll for our brand new industry leading angular course<p>
      <a href="#" class="btn btn-primary" (click)="OnEnroll()">enroll now</a>
    </div>
  </div>


  <div class="card mx-5 my-3" style="width: 18rem;">
    <img class="card-img-top" src="../../../assets/images/download.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title btn btn-secondary">JavaScript</h5>
      <p class="card-text">enroll for our new Javascripr course</p>
      <a href="#" class="btn btn-primary" (click)="onClicked()">enroll now</a>
    </div>
  </div>
  
